<h2>Account Details</h2>

<h4>My Products</h4>
<table class="table">
  <% @user.products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= link_to "Edit" %></td>
    <td><%= link_to "Delete" %></td>
  </tr>
  <% end %>
</table>

<br>

<%= link_to "Add a New Product", new_user_product_path(@user.id) %>
