/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 75px;
  background-color: #f9ecf9;
}

.error, .field_with_errors:nth-of-type(2n+1) {
  display: inline-block;
}

.error {
  margin-left: 10px;
}

.field_with_errors:nth-of-type(2n+1) {
  float: left;
}

.sidebar {
  display: table-cell;
}

.dropdown {
  text-align: center;
}

.panel-title {
  font-size: 14px;
}

.sidebar hr {
  margin: 1px;
}

.photo-gallery {
  display: inline-block;
  width: 80%;
}

@media(max-width:992px){
  .photo-gallery {
    width: 100%;
  }
}

@media(max-width:768px){
  .photo-gallery {
    padding-left: 10%;
    max-width: 90%;
  }
}

div.col-sm-4 img {
  height: 225px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.col-sm-4 {
  padding: 5px;
}

.caption {
  background-color: #fff;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cart td:first-of-type {
  width: 30%;
}
